@charset "utf-8";


*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}

#all
{
    position:relative;
    max-width:100%;
    overflow-x: hidden;
}

a
{
    text-decoration:none;
    color:inherit;
}

li
{
    list-style-type: none;
}


/*p1*/

#p1
{
    position:relative;
}

#p1_header
{
    position:fixed;
    height:50px;
    width:100vw;
    z-index:20;
    background-color: black;
    padding-top:10px;
}

.p1_header_m
{
    position:relative;
    height:50px;
    width: 85%;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
}

.p1_header_logo
{
    position:relative;
    width:100px;
    display:flex;
    align-items:center;
}

.p1_header_logo>img
{
    width:100px;    
}

.p1_header_menu
{
    position:relative;
    height:50px;
    display:flex;
    align-items:center;
}

.p1_header_menu>li
{
    position:relative;
    padding:0px 0px 0px 30px;
    font-size:10px;
    font-weight:400;
    color:white;
}

.p1_header_menu>li:nth-child(1)
{
    display:none;
}

.p1_header_menu>li:nth-child(2)
{
    display:none;
}

.p1_header_menu>li:nth-child(3)
{
    display:none;
}

.p1_header_menu>li:nth-child(4)
{
    display:none;
}


.p1_header_menu>li:hover
{
    color:rgb(0, 231, 77);
    transition: all 0.2s ease-in-out;
}

.p1_header_menu>li>a>img
{
    width:30px;
}




#p1_main
{
    position:relative;
    height:70vh;
    width:100vw;
    background-image:url(../img/works_main.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30px;
}

.p1_main_txt
{
    position:absolute;
    margin: 0px auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width:500px;
    text-align: center;
}

.p1_main_txt_2
{
    position:relative;
    width:300px;
    margin: 0px auto;
    font-size:40px;
    font-weight: 500;
    color:white;
    padding-bottom:15px;
    line-height:60px;
}

.p1_main_txt_3
{
    position:relative;
    width:300px;
    margin: 0px auto;
    font-size:11px;
    font-weight: 300;
    color:white;
    padding-bottom:30px;
    line-height:20px;
}

.p1_main_txt_4:hover
{
    background-color:rgba(255, 255, 255, 0.158);
    transition: all 0.2s ease-in-out;
}




/*contents_01*/
#p1_contents
{
    position:relative;
    height:2000px;
    margin: 0px auto;
}

.p1_contents_M
{
    position:relative;
    height:1000px;
    margin: 0px auto;
    width:100vw;
    padding-top:150px;
}

.p1_contents_1
{
    position:relative;
    margin: 0px auto;
    width:250px;
    height:80px;
    color:black;
    font-weight:400;
    text-align: center;
    font-size: 18px;
    padding-bottom:80px;
    line-height:38px;
}

.p1_contents_1>span
{
    font-size:38px;
    font-weight:500;
}

.p1_contents_2
{
    position:relative;
    margin:0px auto;
    width:80vw;
    height:400px;
    display:flex;
    justify-content: space-between;
    scroll-behavior: smooth;
    overflow-x: scroll;
}

.p1_contents_2>li
{
    position:relative;
    width:200px;
    height:300px;
    margin-right:15px;
}

.cont_img
{
    height:300px;
    border-radius: 10px;
    background-color: blue;
    overflow:hidden;
}

.cont_img>img
{
    height:300px;
    width:200px;
}



.cont_txt
{
    position:relative;
    margin: 0px auto;
    height:60px;
    width:150px;
    text-align: center;
    padding-top:20px;
    font-weight:500;
    font-size: 13px;
}




/*2*/
.p1_contents_3
{
    padding-top:110px;
    position:relative;
    margin:0px auto;
    height:1200px;
    width:80vw;
}


.p1_contents_3_txt
{
    position:relative;
    padding-bottom:50px;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}

.p1_contents_3_img
{
    position:relative;
    height:400px;
    background-image:url(../img/자산\ 1@4x-100.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom:40px;
}


.p1_contents_3_txt2
{
    position:relative;
    padding-bottom:50px;
    font-size: 15px;
}

/*.contents
{
    position:relative;
    height:2200px;
    background-color:blue;
}

.contents_M
{
    position:relative;
    height:1000px;
    margin: 0px auto;
    width:80%;
    padding-top:150px;
}

.p1_contents_1
{
    position:relative;
    margin: 0px auto;
    width:250px;
    height:80px;
    color:black;
    font-weight:400;
    text-align: center;
    font-size: 18px;
    padding-bottom:100px;
}

.p1_contents_1>span
{
    font-size:45px;
    font-weight:500;
}
.contents_01
{
    position:relative;
    margin: 0px auto;
    width:90vw;
    height:350px;
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}

.contents_01>li
{
    position:relative;
    width:250px;
    height:350px;
    background-color:blueviolet;
}*/










/*footer*/
#footer
{
    position:relative;
    height:420px;
    background-color:rgb(201, 201, 201);
    padding-bottom:30px;
}

.footer_M
{
    position:relative;
    margin: 0px auto;
    height:350px;
    width:85%;
    display:flex;
    flex-direction: column
}

.footer_L
{
    position:relative;
    height:350px;
    width:200px;

}

.footer_L_M
{
    position:relative;
    padding-top:50px;
    width:150px;

}


.footer_L_M>img
{
    width:150px;
}

.footer_R
{
    padding-top:20px;
    position:relative;
    height:500px;
    width:80%;
    color:rgb(96, 96, 96);
}

.footer_R>ul
{
    width:100px;
    padding-bottom:20px;
}

.footer_R>ul>li
{
    display: inline-block;
    font-size:14px;
    font-weight: 500;
}

.footer_R>ul>li::after
{
    content:"";
    padding:0px 10px 0px 10px;
}
.footer_R div
{
    font-size:10px;
}








/*폰메뉴*/
#phone_etc
{
	position:fixed;
	z-index:50;
	width:100%;
	height:100%;
	background-color:rgb(0, 0, 0);
	margin-right:-100%;
	top:0px;
	right:0px;
}


.header_logo img
{
    padding-top:20px;
    width:100px;
}

.phone_etc1
{
	position:relative;
	height:60px;
	width:100%;
	padding:0px 20px 0px 20px;
	z-index:10;
    color:white;
	border-bottom:1px solid #cfcfcf;
	box-sizing:border-box;
}

.phone_etc1_M
{
	position:relative;
	height:60px;
	width:100%;
	display:flex;
	justify-content: space-between;
}

#header_etc_close
{
	height:60px;
	display:flex;
	align-items: center;
}

.phone_etc2
{
	position:relative;
	height:100%;
}

.phone_etc2_menu
{
	position:relative;
	height:700px;
	list-style-type:none;
}

.phone_etc2_menu>li
{
	position:relative;
	background-color:black;
    color:white;
}

.phone_etc2_menuname
{
	position:relative;
	height:45px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	border-bottom:1px solid #cfcfcf;
	padding:0px 20px 0px 20px;
	box-sizing:border-box;
}

.phone_etc2_menu>li>div>span:nth-child(1)
{
	font-size:15px;
	padding-bottom:2px;
	color:black;
}

.phone_etc2_menu>li>div>span:nth-child(2)
{
	font-size:20px;
	color:black;
}

.phone_etc2_submenu
{
	position:relative;
	list-style-type:none;
	background-color:whitesmoke;
	padding:0px 20px 0px 20px;
	box-sizing:border-box;
	display:none;
	z-index:20;
}

.phone_etc2_submenu>li
{
	position:relative;
	font-size:12px;
	padding:12px 0px 12px 0px;
}